{% extends 'base/base.html' %}
{% load static %}
{% block content %}
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Bem vindo(a)!</div>
                <div class="masthead-heading text-uppercase text-primary">SASA</div>
                <div class="masthead-subheading">Sistema de Agendamento de Serviços Automotivos</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="http://127.0.0.1:8000/contato/">Agendar Serviço</a>
                <a class="btn btn-primary btn-xl text-uppercase" href="http://127.0.0.1:8000/pedidos/">Solicitações</a>
            </div>
        </header>
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Serviços</h2>
                    <h3 class="section-subheading text-muted">Serviços disponíveis no momento. Tenha contato com o atendente e solicite o serviço.</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Troca de óleo</h4>
                        <p class="text-muted">substituição do óleo do motor, essencial para lubrificar as peças móveis do motor e evitar o superaquecimento. O serviço também pode incluir a troca do filtro de óleo.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Diagnóstico eletrônico</h4>
                        <p class="text-muted">Utiliza equipamentos eletrônicos para identificar falhas no sistema de injeção eletrônica, transmissão automática, freios ABS, entre outros componentes gerenciados por centrais eletrônicas.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Reparos elétricos</h4>
                        <p class="text-muted">Diagnóstico e conserto de problemas no sistema elétrico do veículo, como bateria, alternador, luzes, fiação e componentes eletrônicos.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Veículos</h2>
                    <h3 class="section-subheading text-muted">Veículos disponíveis</h3>
                </div>
                <form method="GET" class="mb-5">
                    <div class="row g-2 align-items-center">
                        <div class="col-md-10">
                            <div class="form-group mb-0">
                                {{ form.nome }}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary w-100">Filtrar</button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    {% for carro in carros %}
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal{{ carro.id }}">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{{ carro.imagem.url }}" alt="{{ carro.nome }}" />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">{{ carro.nome }}</div>
                                <div class="portfolio-caption-subheading text-muted">{{ carro.ano }}</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <!-- Modais dinâmicos -->
        {% for carro in carros %}
        <div class="portfolio-modal modal fade" id="portfolioModal{{ carro.id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <h2 class="text-uppercase">{{ carro.nome }}</h2>
                                    <p class="item-intro text-muted">{{ carro.ano }}</p>
                                    <img class="img-fluid d-block mx-auto" src="{{ carro.imagem.url }}" alt="{{ carro.nome }}" />
                                    <p>{{ carro.descricao }}</p>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Solicitar Test-Drive
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <a href="{% url 'sasa:logout' %}" style="margin-left: 20px;">Sair</a>
{% endblock %}